.mat-form-field {
  margin-top: 10px;
}

button {
  margin-top: 15px;
}

h1 {
  font-weight: bold;
}

p {
  color: #666666;
}

p span {
  color: #27511d;
  font-weight: bold;

}

.mat-card-content {
  text-align: center  ;
}
