

.start-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
//  #27511d

.mat-form-field {
  margin-top: 10px;
}

button {
  margin-top: 15px;
}

h1 {
  font-weight: bold;
}

p {
  color: #666666;
}

p span {
  color: #27511d;
  font-weight: bold;

}

.app-content-two-section {
  text-align: center;
}
