/** Form --------------------------------------------------*/

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: mat-color($verax-web-primary);
}
#readonly.mat-form-field-appearance-outline .mat-form-field-outline {
    color: mat-color($verax-web-accent) !important;
}


  input.readonly {
    pointer-events:none;
  }

  .custom-tooltip {
    color: $dark-green;
  }


