/** Form --------------------------------------------------*/
@use '~@angular/material' as mat;

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: mat.get-color-from-palette($verax-web-primary);
}
#readonly.mat-form-field-appearance-outline .mat-form-field-outline {
    color: mat.get-color-from-palette($verax-web-accent) !important;
}


  input.readonly {
    pointer-events:none;
  }

  .custom-tooltip {
    color: $dark-green;
  }


.mat-card-image-line {
  height: 5px !important;
  opacity: 0.8;
}
