<!-- Applying the mat-tyography class adds styles for native elements. -->
<section class="mat-typography title-group">
  <h1>Profile</h1>
  <mat-divider></mat-divider>
</section>

<app-profile-form></app-profile-form>




<!--<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">-->
<!--  <mat-card class="shipping-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Settings:</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput placeholder="Public Name" formControlName="publicName">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput placeholder="User Name" formControlName="userName" >-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-radio-group formControlName="shipping">-->
<!--            <mat-radio-button value="free">Free Shipping</mat-radio-button>-->
<!--            <mat-radio-button value="priority">Priority Shipping</mat-radio-button>-->
<!--            <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>-->
<!--          </mat-radio-group>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button mat-raised-button color="primary" type="submit">Submit</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</form>-->
